*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "General Sans Regular";
}

html, body{
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#mini-circle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    background-color: #fff;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}

#main{
    width: 100%;
    background-color: #000;
}

#hero{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    width: 100%;
}

#nav a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#heading{
    font-family: "General Sans Medium";
    margin-top: 39px;
}

#heading h1{
    font-size: 10vw;
    line-height: 1;
    font-weight: 900;
    opacity: 0.6;
    margin-left: 34px;
}

#heading #secondh1{
    margin-left: 230px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5{
    font-size: 15px;
    text-align: right !important;
}

#sub-headings{
    margin-top: 130px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#sub-headings h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 0.5vw;
    margin-right: 10px;
}

#hero-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 2%;
    padding: 0 2vw;
}

#hero-footer a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

#hero-footer #iconset{
    display: flex;
    gap: 5px;
}


#hero-footer .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888;
}

#second{
    width: 100%;
    height: 100vh;
    background-color: #000;
    padding-top: 9vh;
    /* padding-right: 10vw; */
    color: #fff;
}

.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 3vw;
    padding-right: 0;
    border: 1px solid #888;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.2vw;
    opacity: 0.7;
}

.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    height: 150%;
    opacity: 0;
    position: absolute;
    z-index: 999;
}

#about{
    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 50px;
}

#textabout{
    width: 25rem;
}

#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    font-size: 12px;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
}

#about img{
    width: 200px;
}

#subscribe{
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    color: #fff;
}

#footer a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-style: 500;
}

#footerleft{
    display: flex;
    gap: 20px;
}

#footerright{
    display: flex;
    gap: 30px;
}